<!DOCTYPE html>
<html>
  <head>
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/cartview.css" />
  </head>
  <body>
    <%-include("../partials/header.ejs") %>
    <main>
      <div class="cart__container card">
        <% products.forEach(function(product, index){ %>
          <%-include("../partials/cart_product",{product:product, index:index}); %>
        <% }); %>
        <div class="cart__info">
          <div class="cart__info__group">
            <div class="cart__info__label">Productos</div>
            <div class="info__span">
              <span id="cantidad_total"><%= info_data.total_quantity %></span>
            </div>
          </div>
          <div class="cart__info__group">
            <div class="cart__info__label">Subtotal</div>
            <div class="info__span">
              <span id="subtotal"><%= info_data.subtotal %></span>
            </div>
          </div>
          <div class="cart__info__group total_price">
            <div class="cart__info__label">Total</div>
            <div class="info__span">
              <span id="total_price"><%= info_data.total %></span>
            </div>
          </div>
        </div>
        <div class="cart__actions">
          <button class="secondary__button">Ver detalles</button>
          <button class="primary__button">FINALIZAR</button>
        </div>
      </div>
    </main>
    <%-include("../partials/footer.ejs") %>
  </body>
</html>
