<!DOCTYPE html>
<html>
  <head>
    <%-include("../partials/head.ejs") %>
  </head>
  <link rel="stylesheet" href="/css/productDetail.css">
  <body>
    <%if(typeof user!=="undefined"){%>
      <%-include("../partials/header.ejs", {user}) %>
    <%}else{%>
      <%-include("../partials/header.ejs") %>
    <%}%>
    <div class="banner__container">
      <img
        src="images/img-home-banner.jpg"
        width="360"
        alt="Banner de ofertas"
      />
    </div>
    <main>
         <div  class="container card">
          <div class="left">
            <div class="info">
               <div class="name"><%=product.name%>
                
              </div>
               <div class="stock"><%=product.stock%>
                
              </div>
               
               <div class="price"><%=product.unit_price%>
                
              </div>
               

               <div class="btn-box">
                  <button class="cart-btn"><i class="fas fa-shopping-cart" aria-hidden="true"></i>  Añadir al carrito </i></button>
               </div>
               <div class="features">Caracteristicas
                 <br>
                 <p class="text"><%=product.description%></p>
                 <br>
               </div>
            </div>
          </div>
 
          <div class="right">
           <div class="big-img">
            
              <img src=<%=product.image[0]%>>
           </div>

            <div class="images">
              <% product.image.forEach(function(src, index){ %>
                <div class="small-img">
                  <img src=<%=src%> onclick="showImg(this.src)">
                </div>
              <% }); %>
              
            </div>

         </div>
       
         </div>
         <script>
           let bigImg=document.querySelector('.big-img img');
           function showImg(pic){
             bigImg.src=pic;
           }
         </script>
    </main>
    <%-include("../partials/footer.ejs") %>
  </body>
</html>
