<!DOCTYPE html>
<html>
  <head>
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/products.css" />
    <link rel="stylesheet" href="/css/category_view.css" />
  </head>
  <body>
    <%if(typeof user!=="undefined"){%>
      <%-include("../partials/header.ejs", {user}) %>
    <%}else{%>
      <%-include("../partials/header.ejs") %>
    <%}%>
    <main>
      
      <div class="view__container">
        <div class="menu-vertical">
          <h2>Inicio > Productos-categorías</h2>
          <h1>CATEGORÍAS</h1>
          <section>
            <% categories.forEach(function(category, index){ %>
              <div class="menu__vertical__group">
                <a href="<%=`/category?id=${category.id}`%>" id="vertical__parent"><%=category.name%></a>
                <div class="menu__vertical__sub-group">
                  <% if(category.children && category.children.length){%>
                    <% category.children.forEach(function(child, index){ %>
                      <a href="<%=`/category?id=${child.id}`%>" id="vertical__child"><p><%=child.name%></p></a>
                    <% }); %>
                  <%}%>
                </div>
            </div>
            <% }); %>
          </section>
        </div>
        <section class="view__group">
          <div class="select__order__product">
            <!-- para ordenar por mas relevantes  -->
            <span>Ordenar por: Mas relevantes</span>
          </div>
          <div class="products__grid">
            <% products.forEach(function(product, index){ %>
              <%-include("../partials/productCard",{product:product}); %>
            <% }); %>
          </div>
        </section>
      </div>
    </main>
    <%-include("../partials/footer.ejs") %>
  </body>
</html>
