<!DOCTYPE html>
<html>
  <head>
    <%-include("../../partials/head.ejs") %>
  </head>
  <body>
    <%-include("../../partials/header.ejs") %>
    <main>
      <h3>Cargar Categoria</h3>
      <form action="/admin/categories/store" method="POST" enctype="multipart/form-data">
        <div class="form__group">
          <div class="form__label">
            <label for="name">Nombre</label>
          </div>
          <div class="form__input">
            <input
              type="text"
              name="name"
              required
              placeholder="Ingrese el nombre del producto"
            />
          </div>
        </div>
        <div class="form__group">
          <div class="form__subgroup">
            <div class="form__label">
              <label for="category">¿Pertenece a otra categoria?:</label>
            </div>
            <% if(categories) { %>
              <div class="form__input">
                <select name="parent" id="parent">                
                  <option value="null" selected>Ninguna</option>
                  <% categories.forEach(function(category, index){ %>
                    <option value=<%=category.id%>><%=category.name%></option>
                  <% }); %>
                </select>
              </div>
            <% }%>
          </div>
        </div>
        <div class="form__group">
          <label for="isMain">¿Es una Categoria principal?</label>
          <input type="checkbox" name="isMain">
        </div>
        <div class="form__group">
          <button type="submit">enviar</button>
        </div>
      </form>
    </main>
    <%-include("../../partials/footer.ejs") %>
  </body>
</html>
