<% if(product) { %>
<div class="cart__product__container" id=<%= `product_${index}`%> >
  <div class="cart__product__left">
    <div class="cart_product__img">
      <img src=<%= product.imagen_url %> alt="product_image" />
    </div>
    <div class="cart__product__name">
      <span id="product_name"><%= product.name %></span>
      <a href="#">Eliminar</a>
    </div>
  </div>
  <div class="cart__product__right">
    <div class="cart__product__quantity">
      <form>
        <button id="cart__quantity__minus">
          <i class="fas fa-minus"></i>
        </button>
        <input type="number" value="<%= product.quantity %>" min="0">
        <button id="cart__quantity__plus">
          <i class="fas fa-plus"></i>
        </button>
      </form>
    </div>
    <div class="cart__product__total">
      <span id="total_price"><%= product.total %></span>
    </div>
  </div>
</div>

<% }%>
