<% if(product) { %>
<article class="product__card__container card" id=<%= product.id %>>   
      <div class="product__card__header">
          <div class="product__card__favs <%= product.is_fav?"--is-fav":""%>">
            <button id="favorite_btn">
                <i class="fas fa-heart"></i>
            </button>
          </div>
        <div class="product__img__container">
            <img
              src=<%= product.image %>
              width="360"
              alt=<%= product.name %>
            />
          </div>
      </div>
      <div class="product__card__info">
          <div class="product__card__stock">
            <% if(product.stock > 0) { %>
                <span id="stock">[EN STOCK]</span> 
            <% } else { %> 
                <span id="no-stock">[SIN STOCK]</span>  
            <% } %>
          </div>
          <div class="product__card__name">
            <span id="name"><%= product.name%></span>
          </div>
        <div class="product__card__info__bottom">
            <div class="product__price__info">
                <span id="price"><%= product.unit_price%></span>
                <span id="discount"><%= product.discount%>% off</span>
            </div>
            
            <div class="product__card__actions">
              <a class="secondary__button secondary__button--block" href="<%= `/products/details/${product.id}`%>">Ver Detalle</a>
              <a class="secondary__button secondary__button--block">Añadir al Carrito</a>
            </div>
        </div>
      </div>
  </article>

  <% }%>