<!DOCTYPE html>
<html>
  <head>
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/table.css" />
  </head>
  <body>
    <%-include("../partials/header.ejs") %>
    <main>
      <h2>Panel de administracion</h2>
      <div class="table__toolbar">
        <a href="admin/categories/add" id="table__add">Nuevo Producto</a>
        <%-include("../partials/selectAdminMenu.ejs",{selection}) %>
      </div>
      <% if(payload) { %>
        <div class="table__container">
          <table class="card">
            <thead>
              <tr>              
                <th>Nombre</th>            
                <th>Padre</th>
                <th>Hijos</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% payload.forEach(product => {%>
                <tr>                
                  <td id="name"><%= product.name %></td>
                  <td id="parent"><%= product.parent %></td>
                  <td id="children"><%= product.children %></td>
                  <td id="actions">
                    <a href=<%=`admin/categories/edit/${product.id}`%> id="edit__btn"><i class="fas fa-edit"></i></a>
                    <a href=<%=`admin/categories/remove/${product.id}`%> id="trash__btn"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      <% }%>
    </main>
    <%-include("../partials/footer.ejs") %>
  </body>
</html>
