<!DOCTYPE html>
<html>
  <head>
    <%-include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/table.css" />
  </head>
  <body>
    <%if(typeof user!=="undefined"){%>
      <%-include("../partials/header.ejs", {user}) %>
    <%}else{%>
      <%-include("../partials/header.ejs") %>
    <%}%>
    <main>
      <h2>Panel de administracion</h2>
      <div class="table__toolbar">
        <a href="admin/products/add" id="table__add">Nuevo Producto</a>
        <%-include("../partials/selectAdminMenu.ejs",{ selection }) %>
      </div>
      <% if(payload) { %>
        <div class="table__container">
          <table class="card">
            <thead>
              <tr>              
                <th>Imagen</th>            
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Descripción</th>
                <th>Stock</th>
                <th>Precio Unitario</th>
                <th>Discount</th>
                <th>Precio Final</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% payload.forEach(product => {%>
                <tr>                
                  <td id="image"><img src=<%= product.image[0] %> alt=""></td>
                  <!-- <td id="image"><%= product.image %></td> -->
                  <td id="name"><%= product.name %></td>
                  <td id="category"><%= product.category %></td>
                  <td id="description"><%= product.description %></td>
                  <td id="stock"><%= product.stock %></td>
                  <td id="unit_price">$<%= product.unit_price %></td>
                  <td id="discount"><%= product.discount %>%</td>
                  <td id="final_price_formated"><%= product.final_price_formated %></td>
                  <td id="actions">
                    <a href=<%=`admin/products/edit/${product.id}`%> id="edit__btn"><i class="fas fa-edit"></i></a>
                    <a href=<%=`admin/products/remove/${product.id}`%> id="trash__btn"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      <% }%>
    </main>
    <%-include("../partials/footer.ejs") %>
  </body>
</html>
