<!DOCTYPE html>
<html>
  <head>
    <%-include("../../partials/head.ejs") %>
  </head>
  <body>
    <%-include("../../partials/header.ejs") %>
    <main>
      <h3>Cargar producto</h3>
      <form action=<%=`/admin/products/update?id=${product.id}`%> method="POST" enctype="multipart/form-data">
        <div class="form__group">
          <div class="form__label">
            <label for="name">Nombre</label>
          </div>
          <div class="form__input">
            <input 
              value="<%= product.name %>"
              type="text"
              name="name"
              required
              placeholder="Ingrese el nombre del producto"
            />
          </div>
        </div>
        <div class="form__group">
          <div class="form__label">
            <label for="unit_price">Precio</label>
          </div>
          <div class="form__input">
            <input 
              value=<%= `${product.unit_price}`%>
              type="number"
              name="unit_price"
              min="0"
              placeholder="Ingrese el precio"
            />
          </div>
        </div>
        <div class="form__group">
          <div class="form__label">
            <label for="stock">Stock</label>
          </div>
          <div class="form__input">
            <input 
              value=<%= `${product.stock}`%> 
              type="number" 
              name="stock" 
              min="0" 
              placeholder="Ingrese el stock" 
            />
          </div>
        </div>
        <div class="form__group">
          <div class="form__label">
            <label for="description">Description</label>
          </div>
          <div class="form__input">
            <textarea
              name="description"
              id="description"
              cols="30"
              rows="10"
              placeholder="Ingrese una descripcion para el producto"
            ><%= product.description%></textarea>
          </div>
        </div>
        <div class="form__group">
          <div class="form__label">
            <label for="image">Imagen del producto</label>
          </div>
          <div class="form__input">
            <input
              type="file"
              name="file"
              placeholder="Ingrese una imagen"
            />
          </div>
        </div>
        <div class="form__group">
          <div class="form__label">
            <label for="discount">Descuento</label>
          </div>
          <div class="form__input">
            <input value=<%= `${product.discount}`%>
              type="number"
              name="discount"
              placeholder="Ingrese el descuento"
            />
          </div>
        </div>
        <div class="form__group">
            <div class="form__label">
              <label for="category">Ingrese la categoria</label>
            </div>
            <% if(categories) { %>
              <div class="form__input">
                <select name="category" id="category">                
                  <% categories.forEach(function(category, index){ %>
                    <option value=<%=category.id%> <%= product.category === category.id? `selected`:''%>><%=category.name%></option>
                  <% }); %>
                </select>
              </div>
            <% }%>
        </div>
        <div class="form__group">
          <button type="submit">enviar</button>
        </div>
      </form>
    </main>
    <%-include("../../partials/footer.ejs") %>
  </body>
</html>
